.input {
  border: none;
  border-bottom: 1px solid #e3e4dc;
  padding: 10px 20px;
  width: 40%;
  outline: none;
  font-size: 16px;
  color: #393e46;
}



.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputHalfWidth {
margin-left: 350px;
  margin-right: 10px; 
justify-content: center;
}


.errorMsg {
  color: red;
}



